@import "tailwindcss";

/* body { @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100; } */
body { @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 }

html {
  scroll-behavior: smooth;
}
